@charset "UTF-8";
body {
  font-size: 12px;
  text-align: left;
  color: black; }

a {
  text-decoration: none; }

ul.menu__links {
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  color: black; }
  ul.menu__links li {
    position: relative; }
    ul.menu__links li a {
      white-space: nowrap; }
    ul.menu__links li:hover ul {
      left: 0;
      /* Приносим подпункты обратно на экран, когда нужно */
      opacity: 1; }
    ul.menu__links li:hover ul a {
      background: white; }
      ul.menu__links li:hover ul a:hover {
        background-color: #362e86;
        color: white; }

/* additional folded nav*/
.menu__links ul {
  position: absolute;
  top: 20px;
  -webkit-transition: 0.25s linear opacity;
  -moz-transition: 0.25s linear opacity;
  -ms-transition: 0.25s linear opacity;
  -o-transition: 0.25s linear opacity;
  transition: 0.25s linear opacity;
  left: -9999px;
  /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
  opacity: 0.5; }
  .menu__links ul li {
    padding: 10px; }
    .menu__links ul li a {
      white-space: nowrap; }

/*grids styles */
.main {
  position: relative;
  grid-area: main;
  background: url("../../pro/img/banner_main_sky@1x.jpg") no-repeat center;
  background-size: cover;
  height: 620px;
  background-repeat: no-repeat;
  background-position: bottom; }

.people {
  position: absolute;
  background: url("../../pro/img/banner_main_people@1x.png") no-repeat center;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 620px;
  background-repeat: no-repeat;
  background-position: center; }

.about {
  grid-area: about;
  background-color: white;
  height: auto;
  padding-bottom: 90px; }

.service {
  grid-area: service;
  background-color: #f9f9f9;
  height: auto;
  padding-bottom: 80px; }

.history {
  grid-area: history;
  background: url("../../pro/img/bg_history@1x.jpg") no-repeat center;
  background-size: 100%;
  height: 520px; }

.team {
  grid-area: team;
  height: auto;
  padding-bottom: 80px; }

.enroll {
  grid-area: enroll;
  background: url("../../pro/img/bg_rails@1x.jpg") no-repeat center;
  background-size: 100%;
  height: 520px; }

.contacts {
  grid-area: contacts;
  height: auto;
  margin-bottom: 80px; }

footer {
  grid-area: footer;
  background-color: #f9f9f9; }

.footer__stripe {
  height: 75px;
  background-color: #362e86; }

.footer__nested {
  height: auto; }

.main, .people, .history, .enroll {
  background-attachment: fixed; }

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header" "navigation" "main" "about" "service" "history" "team" "enroll" "contacts" "footer"; }

.content-wrapper {
  max-width: 1024px;
  margin: 0 auto; }

/* intro screen */
.main__intro, .history__intro, .enroll__intro {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  color: white;
  text-align: center; }

.main__intro {
  top: 48%; }

.main__intro__title {
  position: relative;
  font-family: "LatoBlack", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase; }
  .main__intro__title:after {
    content: "";
    position: absolute;
    top: 140%;
    left: 47.5%;
    width: 50px;
    height: 1px;
    background: white; }

.main__intro__about {
  padding: 46px 0 36px;
  font-family: "LatoBoldItalic", Arial, Helvetica, sans-serif;
  font-size: 20px; }

.main__intro__button, .enroll__content__button {
  background-color: #cc0066;
  border: 1px solid #cc0066;
  padding: 12px 0 28px;
  min-width: 48px;
  width: 158px;
  height: 40px;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: "LatoSemibold", Arial, Helvetica, sans-serif;
  font-size: 12px; }

/*# sourceMappingURL=first.css.map */
